<a href="https://colab.research.google.com/github/kalai-glitch/git_cds/blob/Python/Control_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**If statement**
##syntex
if condition:
    statement   ## 4 spaces for statement indentation

In [ ]:
#sytex
#if condition:
#    statement
str="tes"
if str=="tes":
    print("yes")
    print("this is what u said")

yes
this is what u said

In [ ]:
x=int(input("enter the number"))
y=int(input('enter no'))
if x==1:
    print("a")
    print('b')
    if y==2:
        print('c')
        print('d')

print("end")

enter the number1
enter no0
a
b
end

**if-else statement**

In [ ]:
#syntex
#if condition:
      #statement1
#else:
      #statement2

x=int(input("enter no"))
if x%2==0:
    print("given no is even")
else:
    print("given no is odd")

enter no3
given no is odd

In [ ]:
#program to test whether given no is in between 1 and 10
x=int(input("enter a number"))
if x>=1 and x<=10:
    print("no is between 1 and 10")
else:
    print('no is above the given no 10')

enter a number5
no is between 1 and 10

**if...elif....else statement**

In [ ]:
#if condition:
     #statement1
#elif condition2:
     #statement2
#elif condition3:
     #statement3
#else:
     #statement4

#prgrame to know if a given no is 0 or +ve or -ve
num=9
if num==0:
  print("the no is 0")
elif num>0:
   print(num, "is +ve number")
elif num<0:
   print("no is -ve number")

9 is +ve number

In [ ]:
#program to accept number in digit from keyboard and display in words
x= int(input("enter no in digit"))
if x==0: print('Zero')
elif x==1: print('ONe')
elif x==2: print('Two')
elif x==3: print('Three')
elif x==4: print('Four')
elif x==5: print('Five')
elif x==6: print('Six')
elif x==7: print('Seven')
elif x==8: print('Eight')
elif x==9: print('Nine')
else: print("please enter the digit between 0 to 9") #else part not compulsary,

enter no in digit88
please enter the digit between 0 to 9

**While Loop**

In [ ]:
# we want to execute the statement repeatedly  then we need a loop
#for loop
#while loop
#syntex
#while condition:
    #statements


# to display the no  from 1 to 10
x=1
while x<=10:
     print(x)  # 2 statement will exceuted whenthe condition is true
     x+=1  ## iteration
print('end')

1
2
3
4
5
6
7
8
9
10
end

In [ ]:
## see the difference from above output with same programe
x=1
while x<=10:
     print(x)  # 2 statement will exceuted whenthe condition is true
     x+=1  ## iteration
     print('end') ## now this in same group statement

1
end
2
end
3
end
4
end
5
end
6
end
7
end
8
end
9
end
10
end

In [ ]:
x=100
while x>=100 and x<=200:
  print(x)
  x+=2

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [ ]:
# program to display even number between m and n
m,n =[int(i) for i in input("enter min and max range:").split(',')]
x=m # start from m onwards
if x%2!=0:
    x=x+1

while x>=m and x<=n:
    print(x)
    x=x+2

enter min and max range:34,20

In [ ]:
for i in range(m, n):
    if i%2==0:
        print(i)

#Or just...

print([i for i in range(m, n) if i%2==0])

12
14
16
18
[12, 14, 16, 18]

**For loop **
# for loop is useful to iterate over the elements of a sequence. for loop  used to execute a group of statements repeatedly depending  upon the no of elements in sequence. sequence like string, list, tuple,range,arrays etc..

In [ ]:
#syntax
#for var in sequence:
    #statements

var='string'
for i in var:
    print(i)

s
t
r
i
n
g

In [ ]:
#program to display each character from a string using sequence index

str='my world'
n=len(str)
for i in range(n):   #index range 0 to n-1
     print(i)

0
1
2
3
4
5
6
7

In [ ]:
str='my world'
n=len(str)
for i in range(n):   #index range 0 to n-1
     print(str[i])

m
y

w
o
r
l
d

In [ ]:
str='my world'
for ch in str:
     print(ch)

m
y

w
o
r
l
d

In [ ]:
# to display odd number between 1 and 10
for i in range(1,10,2):
     print(i)

1
3
5
7
9

In [ ]:
# to display numbers in decending order
for x in range(10,0,-1):
      print(x)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# program to display and find the sum of a list of numbers
#take list pf number
list=[10,20,30,40,50]
sum=(list[0]+list[1]+list[2]+list[3]+list[4])
print("sum is", sum)

sum is 150

In [ ]:
# program to display and find the sum of a list of numbers  using for loop
list=[10,20,30,40,50]
sum=0 # initially sum is 0
for i in list:
    print(i)
    sum=sum+i
print('sum=', sum)

10
20
30
40
50
sum= 150

**Infinite loops**

In [ ]:
i=1 # initially i is 1
while i<=10: #condition checking i should b lesser or equal to 10
    print(i) # till print 10 after 11 check condition false loop terminates
    i+=1 ## iteration

1
2
3
4
5
6
7
8
9
10

In [ ]:
# to display stars in right angled triangular form
for i in range(1,11):  # to display 10 rows
     for j in range(1,i+1):   #no of stars = row no
         print("*",end="")
     print()

*
**
***
****
*****
******
*******
********
*********
**********